<div class="content">
    <header>
        <h1>
            Brenna Wolf's Personal Homepage 
        </h1>
    </header>
    <section >
        <img src="lobster.jpg" width="320" alt="lobster photo">
        <img src="skiing.jpg" width="320" alt="lobster photo">
        <img src="maine+bag.jpg" width="320" alt="maine photo">
    </section>
    
    <section>
        <h2>
            Where to now?
        </h2>
    
        <ul style="list-style-type:square">
            <li>Navigate to the <a href="#" routerLink="/about">About</a> page to learn about my college career and where I am from!</li>
            <li>Nagivate to the <a href="#" routerLink="/projects">Portfolio</a> page to learn about my previous school projects and to see my resume!</li>
            <li>Navigate to the <a href="#" routerLink="/research">Research</a> page to learn about the research I did as an undergrad!</li>
            <li>Navigate to the <a href="#" routerLink="/github">Github</a> page to see my github projects!</li>
        </ul>
    </section>
</div> 
