<div class="content">
    <header>
        <h1>
            Computer Science Portfolio
        </h1>
    </header>
    <section>
        <h2>
            Previous School Projects:
        </h2>

        <h3>
            Working with Number Representations and Operations (Java)
        </h3>
        <ul>
            <li>Designed a calculator that can handle decimal, binary and hexadecimal conversions</li>
            <li>Numbering systems, bitwise operations, common binary operations</li>
        </ul>

        <h3>
            Using Dijkstra's Shortest Paths to Route Packets in a Network Overlay (Java)
        </h3>
        <ul>
            <li> Constructed a logical overlay over a distributed set of nodes  </li>
            <li> Computed shortest paths using Dijkstra's algorithm to route packets in the system </li>
            <li> Utilizes threading, TCP communications, and marshalling and unmarshalling</li>
        </ul>

        <h3>
            Synchronization and Coordination Using Thread Pools (Java)
        </h3>
        <ul>
            <li> Designed a thread pool that manages a set of matrix multiplications  </li>
            <li> Utilizes threading pools, load balancing, matrix multiplication, and locking mechanisms  </li>
        </ul>

        <h3>
            Document Summarization using TF-IDF Scores and MapReduce (Java) 
        </h3>
        <ul>
            <li> Calculates the TF, IDF, and TF-IDF values for all terms for all sub-collections in a corpus, then creates a summary for 
                each article that consists of the top 5 most unique sentences within the article. </li>
        </ul>

        <h3>
            Estimating PageRank Values of Wikipedia Articles using Apache Spark (Java) 
        </h3>
        <ul>
            <li> Calculates PageRank values of currently available Wikipedia articles using the PageRank algorithm. </li>
            <li> Implements three different scenarios: (1) Estimation of PageRank values under ideal conditions, (2) while considering 
                dead-end articles using taxation, and (3) creates a 'Wikipedia Bomb' to demonstrate artificial PageRank inflation.</li>
        </ul>

        <h3>
            CPU Scheduling Algorithms (C++)
        </h3>
        <ul>
            <li> Implemented First Come First Serve (non-preemptive), Shortest Job First (preemptive), and Priority Scheduling 
                (preemptive) algorithms to simulate process management.  </li>
            <li> Analyzed performance metrics on an input CSV of processes, including turnaround time, waiting time, and throughput for 
                each scheduling algorithm. </li>
        </ul>

        <h2>
            LinkedIn:
        </h2>
        <p>
            My LinkedIn account can be found <a href="https://www.linkedin.com/in/brenna-wolf-992b28291/">here</a>
        </p>

        <h2>
            Resume:
        </h2>
        <p>My resume can be found <a href="Full_stack_RESUME.pdf" target="_blank" rel="noopener noreferrer">here</a></p>

    </section>
</div>