.content {
    background-color: #29524A;
    color: #dfdfdf;                
}

a {
    color: hwb(192 32% 0%);
    text-decoration: none;
}

a:hover {
    background-color:#102542;
}

h1 {
    color: #dfdfdf;         
    border-top: 10px solid #102542;
    border-bottom: 10px solid #102542;
    position: relative;
    left: 150px;
}

h2 {
    color: #dfdfdf;         
    background-color: rgb(44, 124, 97);
}

img {
    padding-right: 5px;
}

footer {
    border-top: 2px solid #0E0906;
    position: relative;
    left: 150px;
}

section {
    position: relative;
    left: 150px;
}

li {
    max-width: 1300px;
}

#repo-button {
    border-radius: 10px;
    padding: 7px 20px;
    background-color: #102542;
    color: rgb(192, 212, 242);
    font-family: "Times New Roman";
    font-size: 15px;
}

h3 {
    color: #83b1ed;
}

button {
    border-radius: 20px;
    padding: 10px 25px;
    background-color: #102542;
    color: #dfdfdf;
    font-family: "Times New Roman";
    font-size: 15px;
}
  