<div class="content">
    <header>
        <h1>
            About Me!
        </h1>
    </header>
    <section>
        <img src="just_me.jpg" width="550" alt="portrait" style="float:left">
        <h2>
            My education and how I came to choose this major:
        </h2>
        <p>
            I am a senior at Colorado State University studying Computer Science with a minor in Mathematics. While I love the major and am excited to enter the work force,
            computer science wasn't always my first choice. As a senior in highschool, when COVID was at its peak, I ended up chosing a class schedule with AP Computer Science as an elective.
            Ironically, I hated the course and told myself I would never do computer science again. As a freshman in college, I came in as a double major in Mathematics and Art. 
            I loved the art classes I took and loved being able to explore different mediums, however I couldn't see a future for myself in that degree. After that I committed to 
            Mathematics and immersed myself in some very interesting and challenging math courses. To meet the requirements for the Mathematics major, I had to take the entry level course to 
            computer science, and since I had already taken the course in highschool, I was able to take the time to dive deeper into the content and get a better understanding of each assignment. 
            After re-taking the entry-level course, I fell in love with computer science and the technical thinking and problem solving that was required for each project. After that I fully committed
            to the Computer Science major and kept a Mathematics minor. Although I never thought I would've ended up here, I have loved my experience as a Computer Science major and would highly recommend exploring the field.
        </p>

        <h2 style="clear:both">Where I am from:</h2>
        <p >
            I grew up in Durango, Colorado, with a very outdoorsy family. Throughout my childhood, we went on backpacking trips, hut trips in the winter, mountain biking, skiing, running, fly fishing (my dad really
            tried to make this hobby stick but failed in doing so...), paddle boarding, rafting, and of course hiking. 
        </p>
    </section>

    <section>
        <h2>
            Favorite Hobbies
        </h2>
        <ul style="list-style-type:square">
            <li>Running</li>
            <li>Tellemark Skiing</li>
            <li>Playing pool</li>
            <li>Drawing and Painting</li>
            <li>Coding and Programming</li>
            <li>Reading</li>
            <li>Mountain biking</li>
        </ul>
    </section>

</div>