<div class="content">
    <header>
        <h1>
            Undergraduate Research Project
        </h1>
    </header>

    <section>
        <p>
            Starting junior year, I worked in the Urban Sustain Research Lab at CSU under Professor Shrideep Pallickara. This lab published 
            multiple web applications centered around sustainability in order to make different datasets accessible to the public and easy to visualize. 
            These websites delt with big data in water and soil quality as well as census data. I had the privilige to work with a team that consisted 
            of two other students to implement Zephyr, which is a research and visualization tool for air quality. I did full-stack development working in 
            Python, React, and Typescript in order to help build and deploy this website.<br>
        </p>
        <p>
            The services published by the Urban Sustain Research Lab can be found <a href="https://urban-sustain.org/services">here</a><br>
        </p>
        <p>
            Zephyr can be found <a href="https://urban-sustain.org/zephyr/">here</a><br>
        </p>
    </section>

    <section>
        <h2>
        What is Zephyr?
        </h2>
        <img src="zephyr.png" alt="zephyr logo">
        <p>
            Air quality presents one of the biggest environmental risks to human health and has the potential to impact every organ. In fact, it is second only to communicable diseases in the 
            risk that it poses to public health. Air pollution contributes to reduced lung function, oxidative stress, and immunosuppression among other adverse health risks. Those suffering 
            from chronic and acute respiratory diseases are especially at risk. Poor air quality contributes to more than 100,000 premature deaths in the United States each year, and 8.34 million 
            excess deaths internationally each year. <br><br>
            Accessible and continuous access to air quality is the first step to educating citizens and, eventually, legislative changes. The EPA has a large number of outdoor air quality monitoring sensors 
            that harvest data regarding a range of airborne pollutants including particulate matter (PM2.5 and PM10), ozone, carbon monoxide, nitrogen dioxide, and sulfur dioxide. We have designed a browser-based tool, 
            Zephyr, that allows users to interactively analyze longitudinal (starting in 1980) air quality data tracking over 1400 different pollutants. An added feature of Zephyr is integration with the 2020 US census 
            data to explore how socioeconomic factors correlate with exposure to poor air quality. Zephyr also overlays infrastructure data relating to coal and gas fueled power plants, allowing users to assess how proximity 
            to such power plants impacts air quality. We have also incorporated support for animating pollutant-specific variations so that users may assess air quality changes over time during transient, but often prolonged, 
            events such as wildfires. Finally, the tool provides 7-day air quality forecasts using SARIMA models that provide insights into time-series trends. These models are fine-tuned for each metropolitan region to boost 
            accuracy; this, in turn, would allow vulnerable populations to prepare for poor air quality days.<br><br>
        </p>

        <h2>My Contributions</h2>

        <p>
            Aside from the user interface design choices I helped implement when the project was started, the main contributions I made to this project consisted of scaling up the website to include data for over 1400 pollutants 
            as well as turning Zephyr into a predictive tool by training over 2500 SARIMA models to make weekly forecasts for the 6 criteria pollutants.<br><br>
       
            I completed my Honors Thesis on the work I did on this project, which can be found at the following link: <a href="Honors_Thesis.pdf" target="_blank" rel="noopener noreferrer">Honors Thesis</a>

        </p>

    </section>
</div>