.content {
    background-color: #29524A;
    color: #dfdfdf;         
}

a {
    color: hwb(192 32% 0%);
    text-decoration: none;
}

a:hover {
    background-color:#102542;
}

h1 {
    color: #dfdfdf;         
    border-top: 10px solid #102542;
    border-bottom: 10px solid #102542;
    position: relative;
    left: 150px;
}

h2 {
    color: #dfdfdf;  
    background-color: rgb(44, 124, 97);       
}

img {
    padding-right: 5px;
}

section {
    position: relative;
    left: 150px;
}

p {
    color: #dfdfdf;         
    max-width: 1300px;
}

  