.content {
    /* width: 90%;
    min-width: 600px; */
    background-color: #29524A;
    color: #dfdfdf;         
}

a {
    color: hwb(192 32% 0%);
    text-decoration: none;
}

a:hover {
    background-color:#102542;
}

h1 {
    color: #dfdfdf;         
    border-top: 10px solid #102542;
    border-bottom: 10px solid #102542;
    position: relative;
    left: 150px;
}

li {
    color: #dfdfdf;         
}

img {
    padding-right: 5px;
}

section {
    position: relative;
    left: 150px;
}

button {
    border-radius: 20px;
    padding: 10px 25px;
    background-color: #102542;
    color: #dfdfdf;
    font-family: "Times New Roman";
    font-size: 15px;
}

#subButton {
    border-radius: 10px;
    padding: 10px 25px;
    background-color: #5f7490;
    color: #030b42;
    font-family: "Times New Roman";
    font-size: 13px;
}
  