<div class="content">
    <nav class="sidebar">
      <div class="nav-links">
        <a href="#" routerLink="/home">Home</a>
        <a href="#" routerLink="/about">About</a>
        <a href="#" routerLink="/projects">Portfolio</a>
        <a href="#" routerLink="/research">Research</a>
        <a href="#" routerLink="/github">Github</a>
        <a href="#" routerLink="/charting">Observable Plot</a>
      </div>
      <img class="logo" src="wolf_logo_2_cropped.jpg" width="100" alt="logo">
    </nav>
  </div>
  