.content {
    display: block;
    background-color: #29524A;
    color: #FFFFFF;
}

.sidebar {
    position: fixed;
    width: 150px;
    height: 100vh;
    background-color: #94A187;
    color: white;
    left: 0;
    top: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    margin-bottom: 30px;
    align-self: center;
}


.sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

a {
    color: #8C8C88;
    text-decoration: none;
}

a:hover {
    background-color:#102542;
}


